parameters:
  level: max
  paths:
    - src
  checkGenericClassInNonGenericObjectType: true
  reportUnmatchedIgnoredErrors: true
  inferPrivatePropertyTypeFromConstructor: true
  excludePaths:
    - tests/*
